body {
     color:white;
    background: pink;
    margin: 0px;
}

header {

border-bottom: solid 2 px rgb(131, 56, 72);
padding: 20px;
font-size: 32px;
color:rgb(131, 56, 72);
}

section{
background-color: #cf7482;
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}
div{
margin-right: 5%;
}




h1 {
font-size: 40px;
}

p {font-size: 20px;
}